mysql-service:
  image: mysql:8.0
  container_name: mysql-db
  restart: always
  environment:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: test
    MYSQL_USER: admin
    MYSQL_PASSWORD: admin1234
  ports:
    - "3306:3306"
  volumes:
    - mysql-data:/var/lib/mysql
    - /mnt/projects/mysql-init:/docker-entrypoint-initdb.d
  networks:
    - custom-network
  healthcheck:
    test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
    interval: 30s
    timeout: 10s
    retries: 5
